$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html {
    height: 100%;
  }

body {
    min-height: 100%;
    padding-bottom: 150px;
    background: black;
  }

h3 {
  font-family: "Peaches";
  font-size: 50px;
  color: #b95855;
}

.stream-chat {
  margin-left: 15%;
}

.video-stream {
  border: 5px solid #83928d;
  background: #72685F;
  max-width: 100%;
  height: 302px;
  
}

canvas {
  margin-left: -15px;
}

.chat-window {
  border: 5px solid #83928d;
  background: white;
  max-width: 100%;
  height: 300px;
  
}

.input-bars {
  margin-left: 15%;
}

form {
  bottom: 0;
}

.username-container {
  height: 300px;
  background: #b95855;
  border: 5px solid #83928d;
  float: right;
}

ul {
  height: 100%;
}

li {
  font-family: 'Open Sans';
  list-style: none;
  margin-left: -45px;
}

button {
  background: #b95855;
  font-family: 'Open Sans';
  font-size: 12px;
  margin-left: 12px;
}

.button-wrap {
  background: #72685f;
  height: 40px;
  margin-top: -10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #83928d;
  float: right;

}

.text-bar {
  background: #72685f;
  height: 40px;
  margin-top: -10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #83928d;
  font-family: 'Open Sans';
  font-size: 12px;
}

.chat-button {
  margin-left: -5px;
  background: #b95855;
  font-family: 'Open Sans';
  font-size: 12px;
}

.input-bar {
  margin-right: 5px;
  background: #b95855;
}

.modal-content {
  background: #72685F;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.modal-text {
  width: 250px;
  margin-left: -30px;
}

.modal-switch {
  background: #b95855;
  font-family: 'Open Sans';
  margin-top: 10px;
  margin-left: 25%;
}

.modal-body {
  background: #72685F;
  margin-left: 25%;
  margin-right: 25%;
}

.footer {
  clear: both;
  bottom: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0;
}

/* Space out content a bit */


/* Everything but the jumbotron gets side spacing for mobile first views */


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
    background-color: #b95855;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

@font-face {
    font-family: "Peaches";
    src: url("/fonts/PeachesAndCream_Regular.otf") format("opentype");
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
