<div class="container">
  <div class="row">
    <div class="video-stream col-sm-5">
      <canvas width='500' height='500'></canvas>
      <div class="video-control-panel">
        <div class='volume'>
         <i class='fa' ng-class='volumeClass()'></i>
    <!-- add vertical volume slider - <slider value='{{}}' max='100' on-change='.setVolume(value)'></slider> -->
       </div>
      </div>
    </div>
    <div class="chat-window col-sm-7">
      <div ng-controller="ChatCtrl">
        <ul>
            <li ng-repeat="message in messages">{{message}}</li>
        </ul>

        <form ng-submit="sendMessage()">
            <input type="text" ng-model="messageText" placeholder="Type your message here" />
            <input type="submit" value="Send" />
        </form>
      </div>
      <div class="username-container">
        <div class='usernames'>
        </div>
        <button class='register'>Register</button>
      </div>
      <div class="chat-submit-bar">
    </div>

  </div>
</div>