<div class="container">
  <div class="row">
    <div class="video-stream col-sm-4">
      <canvas></canvas>
      <div class="video-control-panel">
        <div class='volume'>
         <i class='fa' ng-class='volumeClass()'></i>
    <!-- add vertical volume slider - <slider value='{{}}' max='100' on-change='.setVolume(value)'></slider> -->
       </div>
      </div>
    </div>
    <div class="chat-window col-sm-8">
      <canvas></canvas>
      <div class="username-container">
        <div class='usernames'>
        </div>
        <button class='register'>Register</button>
      </div>
      <div class="chat-submit-bar">
        <input></input>
        <button>submit</button>
    </div>

  </div>
</div>